* {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.App {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.App > section {
    margin: 20px 0;
}